{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>

{#    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>#}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">#}
    <!-- Latest compiled JavaScript -->
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}

    <script src="/static/js/jquery.min.js"></script>
{#    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">#}
</head>
<body class="body-container preload">
<!-- header -->
<header id="mocha-head" class="header">

    <!-- Background -->
    <div class="background-image"></div>


    <!-- container -->
    <div class="container">

    <!-- row1  -->
        <div class="row">
            <div class="span12">
                    <div class="logo">
                            <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="Mocha"></a>
                    </div>
                    <!-- end logo -->


                    <!-- nav -->
                    <nav class="menu">
                        <ul>
                            <li class="toggle"><a href="#">Menu</a></li>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="#">About</a></li>
{#                            <li><a href="page.html">About</a></li>#}
                            <li><a href="{% url 'spider:mainspider' %}">Spider</a>
{#                                <a href="portfolio.html">Portfolio</a>#}
{#                                <ul>#}
{#                                    <li><a href="portfolio.html">Portfolio Three Columns</a></li>#}
{#                                    <li><a href="portfolio-single.html">Portfolio Single Page</a></li>#}
{#                                </ul>#}
                            </li>
                            <li><a href="{% url 'web:blogHome' %}">Blog</a></li>
{#                            <li><a href="blog.html">博客</a></li>#}
                            <li><a href="#">Contact</a></li>
{#                            <li><a href="contact.html">联系</a></li>#}
                        </ul>
                    </nav>
                    <!-- end nav -->
            </div>
            <!-- end span12 -->
        </div>
        <!-- end row 1-->

        <!-- row2 -->
        <div class="row">
            <div class="home-slider span12">
                 <div class="m-slider flexslider">
                    <ul class="slides">
                        <li>
                            <div class="slide">

                                    <h2>Built On Creativity</h2>

                                    <p>Creativity is the invention of mistakes and entertainment</p>

                                    <a href="#" class="button">Go To Blog</a>

                            </div>
                            <!-- end slide --></li>
                        <li>
                            <div class="slide">

                                    <h2>钢铁的意志</h2>

                                    <p>富贵不能淫，贫贱不能移，威武不能屈.</p>

                                    <a href="#" class="button">Go To Blog</a>

                            </div>
                            <!-- end slide -->
                        </li>
                    </ul>
                  </div><!-- end home slider -->

            </div>
        </div>
        <!-- end row 2-->
    </div>
    <!-- end container -->
</header>
<!-- end header -->
<section class="page">


            <div class="container">
                <div class="row">




                    {% block content %}

                    {% endblock %}



                <!-- sidebar -->
                <div id="sidebar" class="sidebar span4">


                                <div class="widgets-wrapper">



                                            <div class="widget">


                                                    <h4>Categories</h4>

                                                    <!-- widget content -->
                                                    <div class="widget-content">

                                                            <ul>
                                                                {% for item in allType %}
                                                                <li>
                                                                    <form name='{{ item }}' action="" method="post">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" name="type" value="{{ item }}"/>
                                                                        <a href="javascript:document.{{ item }}.submit();">{{ item }}</a>
                                                                    </form>
                                                                </li>
                                                                {% endfor %}
                                                            </ul>


                                                    </div>
                                                    <!-- end widget content -->


                                            </div>
                                            <!-- end widget -->




                                            <!-- widget -->
                                            <div class="widget">

                                                <h4>Recent Post </h4>

                                                <div class="widget-content">
                                                        {% for item in recentFind %}
                                                        <div class="recent-post-tab">
                                                                <span>{{ item.day }} {{ item.mon }} {{ item.year }}</span>
                                                                <a href="{% url 'web:detail' item.id %}">{{ item.title }}</a>
                                                        </div>
                                                        {% endfor %}
                                                        <!-- end post -->


                                                </div>
                                                <!-- end widget content -->
                                            </div>
                                            <!-- end widget -->




                                            <!-- widget -->
                                            <div class="widget">


                                                    <h4>Latest Works</h4>

                                                    <div class="widget-content">


                                                            <div class="works-wrapper">



                                                                    <a href="#"><img src="{% static 'img/demo/work1.png' %}" alt="Wrk" /></a>
                                                                    <a href="#"><img src="{% static 'img/demo/work2.png' %}" alt="Wrk" /></a>
                                                                    <a href="#"><img src="{% static 'img/demo/work3.png' %}" alt="Wrk" /></a>
                                                                    <a href="#"><img src="{% static 'img/demo/work4.png' %}" alt="Wrk" /></a>
                                                                    <a href="#"><img src="{% static 'img/demo/work5.png' %}" alt="Wrk" /></a>
                                                                    <a href="#"><img src="{% static 'img/demo/work6.png' %}" alt="Wrk" /></a>
                                                                    <a href="#"><img src="{% static 'img/demo/work7.png' %}" alt="Wrk" /></a>
                                                                    <a href="#"><img src="{% static 'img/demo/work8.png' %}" alt="Wrk" /></a>



                                                            </div>
                                                            <!-- end works wrapper -->


                                                    </div>
                                                    <!-- end widget content -->


                                            </div>
                                            <!-- end widget -->



                                </div>
                                <!-- end widgets wrapper -->


                </div>
                <!-- end sidebar -->


                </div>
                <!-- end row -->
            </div>
            <!-- end container -->


</section>


<!-- footer -->
<footer>
    <!-- second container / copyrights -->
    <div class="copyrights">

                    <div class="container">
                        <div class="row">


                                <div class="copyrights-wrapper span6">


                                    <!-- left copyrights -->
                                    <div class="left-copyrights">

                                        <p>Copyright © 2018 ZuiYee.</p>

                                    </div>
                                    <!-- end left copyrights -->





                                    <!-- right menu -->
                                    <div class="right-menu">
                                        <a href="https://github.com/ZuiYee/Blog">
                                            <img alt="GitHub" src="{% static 'img/github.png' %}" width="30" style="filter:invert(100%);">
                                            <span class="link_font">源码</span>
                                        </a>
                                        <br>
                                        <span>
                                            开发人员:
                                            <a href="https://github.com/ZuiYee" class="link_font">@ZuiYee</a>
                                        </span>
                                        <br>
                                    </div>
                                    <!-- end right menu -->



                                </div><!-- end span12 -->

                        </div>
                        <!-- end row -->
                    </div>
                    <!-- end container -->

    </div>
    <!-- end copyrights -->
</footer>

<!-- Javascript -->


<script src="/static/js/mediaelement.min.js"></script>
<script src="/static/js/jquery.flexslider-min.js"></script>
<script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/static/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script src="/static/js/isotope.js"></script>
<script src="/static/js/jflickrfeed.js"></script>
<script src="/static/js/custom.js"></script>

</body>
</html>