{% extends 'web/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spider</title>
</head>
<body>
{% block content %}
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="section-title span12">
                    <h2>Spider</h2>
                </div>
                <div class="content-wrapper blog-grid">
                    <div class="span6 blog-item">
                        <ul>
                            <li>
                                <a href="{% url 'spider:EducationSpider' %}"><h3>EducationSpider</h3></a>
                            </li>
                            <li>
                                <a href="{% url 'spider:TestSpider' %}"><h3>TestSpider</h3></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="skills page dark-section">


                <!-- Background -->
                <div class="background-image"></div>



                <div class="container">
                    <div class="row">


                                <h2 class="span12">Our Skills</h2>


                                <!-- skills wrapper -->
                                <div class="span12 skills-wrapper">


                                        <!-- one -->
                                        <div class="skill one">

                                                    <h4>Html and Css</h4>

                                                    <p>Proin gravida nibh vel velit auctor aliqunibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris  velit. </p>


                                        </div>
                                        <!-- end skill one -->


                                         <!-- one -->
                                        <div class="skill two">

                                                    <h4>Illustration</h4>

                                                    <p>Proin gravida nibh vel velit auctor aliqunibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris  velit. </p>


                                        </div>
                                        <!-- end skill one -->


                                         <!-- one -->
                                        <div class="skill three">

                                                    <h4>PHP</h4>

                                                    <p>Proin gravida nibh vel velit auctor aliqunibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris  velit. </p>


                                        </div>
                                        <!-- end skill one -->


                                         <!-- one -->
                                        <div class="skill four">

                                                    <h4>Javascript</h4>

                                                    <p>Proin gravida nibh vel velit auctor aliqunibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris  velit. </p>


                                        </div>
                                        <!-- end skill one -->


                                         <!-- one -->
                                        <div class="skill five">

                                                    <h4>Adobe Photoshop</h4>

                                                    <p>Proin gravida nibh vel velit auctor aliqunibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris  velit. </p>


                                        </div>
                                        <!-- end skill one -->


                                </div>
                                <!-- end skills wrapper -->


                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->



</section>


{% endblock %}
</body>
</html>